@charset "UTF-8";

@font-face {
    font-family: 'NeueMachina-Bold';
    font-display: swap;
    src: url(../fonts/NeueMachina-Bold.ttf);
}

@font-face {
    font-family: 'AzeretMono-Regular';
    font-display: swap;
    src: url(../fonts/AzeretMono-Regular.ttf);
}

@font-face {
    font-family: 'AzeretMono-SemiBold';
    font-display: swap;
    src: url(../fonts/AzeretMono-SemiBold.ttf);
}

@font-face {
    font-family: 'NeueMachina-Light';
    font-display: swap;
    src: url(../fonts/NeueMachina-Light.ttf);
}

@font-face {
    font-family: 'NeueMachina-Ultralight';
    font-display: swap;
    src: url(../fonts/NeueMachina-Ultralight.ttf);
}

@font-face {
    font-family: 'AzeretMono-Medium';
    font-display: swap;
    src: url(../fonts/AzeretMono-Medium.ttf);
}

@font-face {
    font-family: 'AzeretMono-Light';
    font-display: swap;
    src: url(../fonts/AzeretMono-Light.ttf);
}

@font-face {
    font-family: 'AzeretMono-Regular';
    font-display: swap;
    src: url(../fonts/AzeretMono-Regular.ttf);
}

@font-face {
    font-family: 'AzeretMono-Bold';
    font-display: swap;
    src: url(../fonts/AzeretMono-Bold.ttf);
}

@font-face {
    font-family: 'AzeretMono-Black';
    font-display: swap;
    src: url(../fonts/AzeretMono-Black.ttf);
}

@font-face {
    font-family: 'AzeretMono-ExtraBold';
    font-display: swap;
    src: url(../fonts/AzeretMono-ExtraBold.ttf);
}

@font-face {
    font-family: 'NeueMachina-Regular';
    font-display: swap;
    src: url(../fonts/NeueMachina-Regular.ttf);
}

@font-face {
    font-family: 'NeueMachina-Medium';
    font-display: swap;
    src: url(../fonts/NeueMachina-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat-Light';
    font-display: swap;
    src: url(../fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: 'Montserrat-Regular';
    font-display: swap;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat-Medium';
    font-display: swap;
    src: url(../fonts/Montserrat-Medium.ttf);
}

:root {
    --color0: #000;
    --color1: #fff;
    --color2: #131313;
    --color3: #d5ff40;
    --color4: #D4FE00;
    --color5: #ff0000;
    --color6: #27a2f8;
    --color7: #242424;
    --color8: #;
    --color9: #;
    --color10: #;

    --fonte-padrão: 'Arial, Verdana, Helvetica, sans-serif';
    --font1: 'NeueMachina-Bold';
    --font2: 'AzeretMono-Regular';
    --font3: 'AzeretMono-SemiBold';
    --font4: 'NeueMachina-Light';
    --font5: 'NeueMachina-Ultralight';
    --font6: 'AzeretMono-Medium';
    --font7: 'AzeretMono-Light';
    --font8: 'AzeretMono-Regular';
    --font9: 'AzeretMono-Bold';
    --font10: 'AzeretMono-ExtraBold';
    --font11: 'AzeretMono-Black';
    --font12: 'NeueMachina-Regular';
    --font13: 'NeueMachina-Medium';
    --font14: 'Montserrat-Light';
    --font15: 'Montserrat-Regular';
    --font16: 'Montserrat-Medium';
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

body {
    width: 100%;
    /* max-width: 1440px; */
    margin: auto;
    background-color: var(--color2);
    color: var(--color1);
    font-size: 1.125rem;
    line-height: 1.4;
    /* font-weight: 400; */
}

@keyframes bgloader {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
        /* transform: translateY(-100%); */
    }

    /* 75% {
        opacity: 1;
        transform: translateY(-100%);
    } */

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.loader {
    position: fixed;
    z-index: 1001;
    display: flex;
    width: 100%;
    height: 100vh;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color7);
    animation: bgloader 5s forwards;

}

@keyframes loader {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(0);
        opacity: 1;
    }

    /*75% {
        transform: translateY(0);
        opacity: 1;
    } */

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.loader img {
    width: 100%;
    max-width: 14.75rem;
    transform: translateY(-100%);
    animation: loader 2s forwards;
}

.header {
    overflow: hidden;
}

.header .container1 {
    /* position: relative; */
    margin: auto;
    width: 100%;
    /* max-width: 76rem; */
    max-width: 81rem;
    padding: 7.6875rem 2.5rem;
}

.header .container1 .container2 {
    width: 100%;
    display: flex;
}

.header .container1 .container2 .leftcontainer {
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 1rem;
}

.header .container1 .container2 .leftcontainer .figmaislogo {
    width: 237px;
    height: 42px;
    opacity: 1;
    transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    /* display: none;
    transform: translate3d(0px, -100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d; */
}

.header .container1 .container2 .leftcontainer h1 {
    /* font-family: Neuemachina, sans-serif; */
    font-family: var(--font1);
    font-size: 3.75rem;
    line-height: 1.1;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    /* font-weight: 700; */
    /* width: 100%;
    max-width: 33.875rem; */
    /* opacity: 1;
    transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d; */
}

.header .container1 .container2 .leftcontainer h1 span {
    color: var(--color3);
}

.header .container1 .container2 .leftcontainer p {
    /* font-family: Azeretmono, sans-serif; */
    font-family: var(--font2);
    font-size: 1.25rem;
    line-height: 1.4;
    /* font-weight: 400; */
    /* opacity: 1;
    transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d; */
}

.header .container1 .container2 .leftcontainer p span {
    color: var(--color3);
}

.header .container1 .container2 .leftcontainer .button {
    /* margin-top: 3rem 0rem 1rem 0rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    /* opacity: 1;
    transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d; */
}

.header .container1 .container2 .leftcontainer .button a {
    font: 600 1.25rem/1 var(--font3);
    color: var(--color0);
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 5rem;
    border-radius: 8rem;
    background-color: var(--color3);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.header .container1 .container2 .leftcontainer .button a:hover {
    box-shadow: 0 4px 25px 0 var(--color3);
    color: var(--color0);
}

.header .container1 .container2 .leftcontainer .button .kiwifylogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
}

.header .container1 .container2 .leftcontainer .button .kiwifylogo span {
    font-family: var(--font3);
    font-size: 0.625rem;
}

.header .container1 .container2 .rightcontainer {
    position: relative;
    width: 100%;
}

.header .container1 .container2 .rightcontainer .firstelement {
    position: absolute;
    left: 6.25rem;
    top: 23.75rem;
    right: 0rem;
    bottom: auto;
    z-index: 3;
    width: 10.5rem;
    max-width: none;
    box-shadow: 0 2px 2.5px 0 rgb(0 0 0 / 25%);
}

.header .container1 .container2 .rightcontainer .firstelement:hover,
.header .container1 .container2 .rightcontainer .secondelement:hover {
    transform: translate3d(0px, 1rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    opacity: 1;
    transform-style: preserve-3d;
    transition: all 500ms ease;
}

.header .container1 .container2 .rightcontainer .herothiago {
    position: absolute;
    left: auto;
    top: -8.8rem;
    right: 0%;
    /* right: 2.6%; */
    bottom: auto;
    width: 100%;
    max-width: 41rem;
}

.header .container1 .container2 .rightcontainer .light {
    position: absolute;
    /* left: 18rem; */
    left: 20.6rem;
    top: -6.3rem;
    right: 0%;
    bottom: 0%;
    width: 100%;
    max-width: 61.31rem;
}

.header .container1 .container2 .rightcontainer .secondelement {
    position: absolute;
    left: auto;
    top: 10.4rem;
    right: 0.2rem;
    bottom: auto;
    z-index: 4;
    width: 11.5625rem;
    max-width: none;
    box-shadow: 0 3px 3.39px 0 rgb(0 0 0 / 25%);
}

.wordsmoving {
    width: 100%;
    /* max-width: 81rem; */
    margin: -0.0378rem auto 0rem;
    /* margin-top: -0.0378rem; */
    padding: 2.625rem 0rem;
    background-color: var(--color3);
    display: flex;
    overflow: hidden;
}

.wordsmoving ul {
    display: flex;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.wordsmoving ul li {
    font-family: var(--font1);
    font-size: 1.25rem;
    line-height: 1.4;
    color: var(--color0);
    text-transform: uppercase;
    margin: 0rem 3.25rem;
    width: 100%;
    white-space: nowrap;
    animation: scroll 20s linear infinite;
}

.figmaisbetter {
    overflow: hidden;
}

.figmaisbetter .container3 {
    margin: auto;
    width: 100%;
    max-width: 81rem;
    /* padding: 9.375rem 2.5rem 7.6875rem 2.5rem; */
    padding: 9.375rem 2.5rem 12.5rem 2.5rem;
}

.figmaisbetter .container3 h2 {
    font-family: var(--font1);
    font-size: 5.375rem;
    color: var(--color3);
    line-height: 1.2;
    position: relative;
    z-index: 1;
    width: 45%;
    max-width: 30.4375rem;
    margin: 0rem auto 0rem;
    padding: 2rem 0rem;
}

.figmaisbetter .container3 span {
    font-family: var(--font5);
    font-size: 3.5rem;
    color: var(--color1);
    display: inline-block;
}

.figmaisbetter .container3 .container4 {
    display: flex;
    column-gap: 5rem;
}

.figmaisbetter .container3 .container4 .images {
    width: auto;
    /* max-width: 40.787125rem; */
    display: flex;
    column-gap: 1.25rem;
    overflow: hidden;
    padding: 2rem 0rem;
}

@keyframes scrollimages {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.figmaisbetter .container3 .container4 .images img {
    /* width: auto; */
    width: 100%;
    max-width: 19.625rem;
    max-height: 24.53125rem;
    animation: scrollimages 25s linear infinite;
}

.leaveps .container5 {
    margin: auto;
    width: 100%;
    max-width: 81rem;
    /* padding: 7.6875rem 2.5rem; */
    padding: 0rem 2.5rem;
}

.leaveps .container5 .container6 {
    display: flex;
    column-gap: 5rem;
}

.leaveps .container5 .container6 .leftcontainer {
    width: 100%;
    max-width: 33.9785rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: -51px;
    grid-row-gap: 4.5rem;
    padding: 1rem 0rem;
}

.leaveps .container5 .container6 .leftcontainer img.robot {
    position: static;
    width: 100%;
    max-width: 42.875rem;
    margin-bottom: 0rem;
    box-shadow: 0 4px 29px 0 rgba(0, 0, 0, 0.25);
}

.leaveps .container5 .container6 .leftcontainer img.secondlight {
    position: absolute;
    left: -18.7rem;
    top: -15.8rem;
    z-index: -1;
    width: 61.125rem;
    max-width: none;
}

.leaveps .container5 .container6 .leftcontainer .info {
    display: flex;
    align-items: flex-start;
    grid-column-gap: 4.625rem;
}

.leaveps .container5 .container6 .leftcontainer .info .students {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row-gap: 3px;
}

.leaveps .container5 .container6 .leftcontainer .info .students .studentsnumber {
    width: 11.1875rem;
}

.leaveps .container5 .container6 .leftcontainer .info .students .studentsphoto {
    width: 7.625rem;
    max-width: 100%;
}

.leaveps .container5 .container6 .leftcontainer .info .assessments {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row-gap: 0.6875rem;
}

.leaveps .container5 .container6 .leftcontainer .info .assessments .onehundred {
    width: 11.1875rem;
}

.leaveps .container5 .container6 .leftcontainer .info .assessments .stars {
    width: 7.625rem;
    max-width: 100%;
}

.leaveps .container5 .container6 .rightcontainer {
    width: 100%;
    max-width: 28.9375rem;
}

.leaveps .container5 .container6 .rightcontainer h2 {
    font: 500 1.625rem/1.4 var(--font6);
    color: var(--color3);
}

.leaveps .container5 .container6 .rightcontainer p {
    font: 300 1rem/1.6 var(--font7);
    position: static;
    margin: 1.25rem 0rem 3rem 0rem;
}

.leaveps .container5 .container6 .rightcontainer .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-gap: 2px;
}

.leaveps .container5 .container6 .rightcontainer .button a {
    font: 600 1.125rem/1 var(--font3);
    color: var(--color0);
    text-transform: uppercase;
    letter-spacing: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 3.75rem;
    border-radius: 8rem;
    background-color: var(--color3);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.leaveps .container5 .container6 .rightcontainer .button a:hover {
    box-shadow: 0 4px 25px 0 var(--color3);
    color: var(--color0);
}

.leaveps .container5 .container6 .rightcontainer .button .kiwifylogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
}

.leaveps .container5 .container6 .rightcontainer .button .kiwifylogo span {
    font-family: var(--font3);
    font-size: 0.625rem;
}

.public .container7 {
    margin: auto;
    width: 100%;
    max-width: 81rem;
    padding: 9.375rem 2.5rem 0rem 2.5rem;
}

.public .container7 .container8 {
    display: flex;
    justify-content: space-between;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    align-items: center;
    gap: 2rem;
}

.public .container7 .container8 h2 {
    font: 700 5.375rem/1.2 var(--font1);
    color: var(--color3);
    width: 43%;
    max-width: 30.625rem;
}

/* .public .container7 .container8 .containertext {
    display: grid;
    align-items: flex-start;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(auto, 1fr) auto auto auto auto;
    width: 100%;
    max-width: 33.125rem;
    min-width: auto;
    padding-left: 0rem;
    grid-row-gap: 0rem;
    justify-content: center;
} */

.public .container7 .container8 .containertext {
    width: 100%;
    max-width: 33.125rem;
}

.public .container7 .container8 .containertext .content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 27.6875rem;
}

.public .container7 .container8 .containertext .content .number {
    font: 700 2rem/1.2 var(--font1);
    color: var(--color3);
    padding-right: 1rem;
    width: 3rem;
}

.public .container7 .container8 .containertext .content .block {
    display: flex;
    align-items: center;
    position: relative;
    left: 1.35rem;
    border-style: none none none solid;
    border-width: 1px;
    border-color: #000 #000 #000 #8b8b8b;
    overflow: hidden;
}

.public .container7 .container8 .containertext .content .block p {
    font: 300 1rem/1.6 var(--font7);
    position: static;
    padding: 0rem 2rem 1.5rem 1.25rem;
}

.public .container7 .container8 .containertext .content .block::before {
    content: "";
    position: absolute;
    left: -28px;
    left: -5px;
    width: 5px;
    height: -webkit-fill-available;
    background-color: var(--color3);
}

.public .container7 .container8 .containertext .content .block:hover:before,
.public .container7 .container8 .containertext .content .block p:hover {
    transform: translateX(4px);
    transition: all 100ms cubic-bezier(.55, .055, .675, .19);
}

.public .container7 .container8 .containertext .content .block p span {
    color: var(--color3);
}

.learn .container9 {
    margin: auto;
    width: 100%;
    max-width: 81rem;
    padding: 9.375rem 2.5rem 0rem 2.5rem;
}

.learn .container9 .container10 {
    display: flex;
    align-items: center;
    grid-column-gap: 8.25rem;
}

.learn .container9 .container10 .leftcontainer {
    position: relative;
    left: -58px;
    width: 100%;
    max-width: 43.8125rem;
}

.learn .container9 .container10 .leftcontainer .macbook {
    width: 100%;
    max-width: 43.8125rem;
}

.learn .container9 .container10 .leftcontainer .light {
    position: absolute;
    left: -18.6rem;
    top: -10.3rem;
    right: auto;
    bottom: -20px;
    z-index: -1;
    width: 61.125rem;
    max-width: none;
}

.learn .container9 .container10 .rightcontainer {
    width: 100%;
    max-width: 26.0625rem;
}

.learn .container9 .container10 .rightcontainer h2 {
    font: 700 4rem/1.2 var(--font1);
    color: var(--color3);
    margin-bottom: 1rem;
    margin-top: 0rem;
}

.learn .container9 .container10 .rightcontainer p {
    font: 300 1rem/1.6 var(--font7);
    position: static;
}

/* .modules {
    overflow: hidden;
} */

.modules .container11 {
    margin: auto;
    width: 100%;
    /* max-width: 81rem; */
    /* padding: 9.375rem 2.5rem 7.6875rem 2.5rem; */
    /* padding: 9.375rem 2.5rem 12.5rem 2.5rem; */
    padding: 9.375rem 0rem 12.5rem 0rem;
}

.modules .container11 .container12 h2 {
    font: 700 4rem/1.2 var(--font1);
    text-align: center;
    color: var(--color3);
    margin-bottom: 4rem;
}

.modules .container11 .container12 .images {
    width: 100%;
    /* max-width: 81rem; */
    overflow: hidden;
    margin: auto;
    display: flex;
    /* flex-wrap: nowrap; */
    align-items: center;
    grid-column-gap: 2rem;
}

@keyframes scrollmodules {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-10000px);
    }
}

.modules .container11 .container12 .images img {
    width: 100%;
    max-width: 17.125rem;
    /* animation: scrollmodules 70s linear infinite; */
    animation: scrollmodules 80s linear infinite;
}

.figmaispro {
    position: relative;
}

.figmaispro .container13 {
    margin: auto;
    width: 100%;
    max-width: 81rem;
    /* padding: 9.375rem 2.5rem 7.6875rem 2.5rem; */
    padding: 9.375rem 2.5rem 0rem 2.5rem;
}

.figmaispro .container13 .container14 {
    display: flex;
    align-items: center;
    grid-column-gap: 6rem;
    justify-content: space-between;
}

.figmaispro .container13 .container14 .leftcontainer {
    position: relative;
    width: 45%;
    max-width: 35rem;
}

.figmaispro .container13 .container14 .leftcontainer h2 {
    font: 700 5.375rem/1.2 var(--font1);
    /* margin-top: 0rem;
    margin-bottom: 0rem; */
    margin: 0rem auto 2rem;
}

.figmaispro .container13 .container14 .leftcontainer h2 span {
    color: var(--color3);
}

.figmaispro .container13 .container14 .leftcontainer p {
    font: 400 1.25rem/1.4 var(--font8);
}

.figmaispro .container13 .container14 .leftcontainer img {
    position: absolute;
    left: -0.4rem;
    top: auto;
    right: auto;
    bottom: 9.4rem;
    display: block;
    width: 13.375rem;
}

.figmaispro .container13 .container14 .rightcontainer {
    position: relative;
    left: 19px;
    width: 48.1875rem;
    max-width: none;
}

.figmaispro .container13 .container14 .rightcontainer img.thiagobg {
    width: auto;
    max-width: 34.8125rem;
}

.figmaispro .container13 .container14 .rightcontainer img.resourcesimg {
    position: absolute;
    left: -17%;
    top: 64px;
    right: auto;
    bottom: 0%;
    width: 10.5rem;
    border-radius: 20px;
    box-shadow: 0 3px 13.55px 0 rgba(0, 0, 0, 0.45);

    /* will-change: transform;
    transform: translate3d(0rem, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d; */
}

.figmaispro .container13 .container14 .rightcontainer img.classesimg {
    position: absolute;
    left: -10%;
    top: 165px;
    right: auto;
    bottom: 0%;
    width: 8.5625rem;
    border-radius: 20px;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.45);
}

.figmaispro .container13 .container14 .rightcontainer img.modulesimg {
    position: absolute;
    left: -14%;
    top: auto;
    right: auto;
    bottom: 18%;
    width: 9.75rem;
    border-radius: 20px;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.45);
}

.figmaispro .container13 .container14 .rightcontainer img.updatesimg {
    position: absolute;
    left: auto;
    top: auto;
    right: -1%;
    bottom: 38%;
    width: 11.75rem;
    border-radius: 20px;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.45);
}

.figmaispro .container13 .container14 .rightcontainer img.studentsimg {
    position: absolute;
    left: 411px;
    bottom: 237.125px;
    width: 12.0625rem;
    max-width: none;
    border-radius: 20px;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.45);
}

.figmaispro .container13 .container14 .rightcontainer img.elementsimg {
    position: absolute;
    left: 0%;
    top: -13%;
    right: 0%;
    bottom: auto;
    width: 34.875rem;
    /* top: -3.5rem;
    transform: translateY(3rem); */
}

.figmaispro img.lightimg {
    position: absolute;
    /* left: -47.7rem;
    top: -18.1rem; */
    z-index: -1;
    left: -66.7rem;
    top: -21.1rem;
}

.welcometofigmaispro .container15 {
    margin: auto;
    width: 100%;
    /* max-width: 81rem; */
    /* padding: 9.375rem 2.5rem 7.6875rem 2.5rem; */
    /* padding: 9.375rem 2.5rem 12.5rem 2.5rem; */
    padding: 9.375rem 0rem 12.5rem 0rem;
}

.welcometofigmaispro .container15 .container16 h2 {
    font: 700 4rem/1.2 var(--font1);
    text-align: center;
}

.welcometofigmaispro .container15 .container16 img.logo {
    width: 18.3125rem;
    margin: 1.5rem auto 5rem;
    display: block;
}

.welcometofigmaispro .container15 .container16 .images {
    width: 100%;
    /* max-width: 81rem; */
    overflow: hidden;
    margin: auto;
    display: flex;
    /* flex-wrap: nowrap; */
    align-items: center;
    grid-column-gap: 2rem;
}

@keyframes scrollwelcometo {
    0% {
        transform: translateX(-10710px);
    }

    100% {
        transform: translateX(1100px);
    }
}

.welcometofigmaispro .container15 .container16 .images img {
    width: 100%;
    max-width: 17.125rem;
    animation: scrollwelcometo 110s linear infinite;
}

.webflowelementor .container17 {
    margin: auto;
    width: 100%;
    max-width: 81rem;
    /* padding: 0rem 2.5rem 9.375rem 2.5rem; */
    padding: 0rem 2.5rem;
}

.webflowelementor .container17 .container18 {
    display: flex;
    flex-direction: column;
}

.webflowelementor .container17 .container18 img.webflowbg {
    /* position: absolute; */
    margin-top: -0.25rem;
    width: 100%;
    max-width: 80.625rem;
}

.webflowelementor .container17 .container18 .logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* max-width: 40.6875rem; */
    /* margin: -15rem auto 1rem; */
    max-width: 46rem;
    margin: -15.5rem auto 1rem;
}

.webflowelementor .container17 .container18 .logos img {
    margin: auto;
    position: relative;
    /* top: -45px; */
    /* width: 15.75rem; */
}

.webflowelementor .container17 .container18 .logos img.webflowlogo {
    /* margin-left: 1rem; */
    margin-left: 2.5rem;
}

.webflowelementor .container17 .container18 p {
    font: 300 1rem/1.6 var(--font7);
    color: var(--color3);
    text-align: center;
    width: 100%;
    max-width: 34.9375rem;
    margin: auto;
}

.comments .container19 {
    margin: auto;
    width: 100%;
    max-width: 81rem;
    /* padding: 9.375rem 2.5rem 9.375rem 2.5rem; */
    /* padding: 18.750rem 2.5rem 9.375rem 2.5rem; */
    padding: 18.750rem 2.5rem 0rem 2.5rem;
}

.comments .container19 .container20 {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    overflow: hidden;
    /* overflow: scroll; */
    width: 100%;
    margin: auto;
}

.comments .container19 .container20 h2 {
    font: 700 3rem/1.2 var(--font1);
    color: var(--color3);
    text-align: center;
    width: 100%;
    max-width: 41.6875rem;
    /* margin-bottom: 4rem; */
    margin: 0rem auto 4rem;
}

.comments .container19 .container20 .slides {
    margin: auto;
    display: flex;
    /* overflow: hidden; */
}

/* .comments .container19 .container20 .slides:active {
    transform: translateX(-100%);
} */

/* @keyframes scrollcomments {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-4820px);
    }
} */

.comments .container19 .container20 .slides .slidesgroup {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    /* animation: scrollcomments 10s linear infinite;
    transform: translateX(100%); */
}

.comments .container19 .container20 .slides .slidesgroup .slide {
    width: max-content;
    margin: 0rem 1rem 5rem 1rem;
}

.comments .container19 .container20 .slides .slidesgroup .slide .content {
    display: flex;
    width: 100%;
}

.comments .container19 .container20 .slides .slidesgroup .slide .content img.person {
    width: 3.75rem;
}

.comments .container19 .container20 .slides .slidesgroup .slide .content .headerandstars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem 0rem;
    margin-left: 0.9375rem;
}

.comments .container19 .container20 .slides .slidesgroup .slide .content .headerandstars h3 {
    font: 600 1rem/1 var(--font3);
    width: max-content;
}

.comments .container19 .container20 .slides .slidesgroup .slide .content .headerandstars img.stars {
    width: 8rem;
}

.comments .container19 .container20 .slides .slidesgroup .slide p {
    font: 300 0.875rem/1.5 var(--font7);
    /* display: block; */
    margin-top: 1.5rem;
    /* white-space: normal; */
    /* white-space: nowrap; */
    /* word-wrap: break-word; */
    width: 100%;
    max-width: 28.375rem;
}

.comments .container19 .container20 .slidenavigation {
    width: 78px;
    height: 40px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.comments .container19 .container20 .slidenavigation span {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: var(--color1);
    transition: width 0.2s, background-color 0.2s;
    transition-timing-function: linear;
    margin: 0px 3px;
    cursor: pointer;
}

.comments .container19 .container20 .slidenavigation span.active {
    width: 24px;
    background-color: var(--color4);
}

.price .container21 {
    margin: auto;
    width: 100%;
    max-width: 81rem;
    /* padding: 9.375rem 2.5rem 12.5rem 2.5rem; */
    /* padding: 9.375rem 2.5rem 0rem 2.5rem; */
    padding: 9.375rem 2.5rem 0rem;
}

.price .container21 .container22 h2 {
    font: 700 3rem/1.2 var(--font1);
    color: var(--color3);
    text-align: center;
    width: 100%;
    max-width: 47.9375rem;
    margin: auto;
}

.price .container21 .container22 p {
    font: 300 1rem/1.6 var(--font7);
    text-align: center;
    width: 100%;
    margin: 0.625rem auto 4rem;
}

.price .container21 .container22 .pricecontainers {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 67.5rem;
    margin: auto;
    gap: 2rem;
}

.price .container21 .container22 .pricecontainers .leftcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem 4.875rem 4.625rem 4.875rem;
    border-radius: 0.625rem;
    color: var(--color2);
    background-color: var(--color1);
    width: 100%;
}

.price .container21 .container22 .pricecontainers .leftcontainer img.logo {
    width: 10.25rem;
}

.price .container21 .container22 .pricecontainers .leftcontainer ul {
    width: 100%;
    max-width: 21.9375rem;
    margin: 3rem auto;
    padding-left: 1.25rem;
}

.price .container21 .container22 .pricecontainers .leftcontainer ul li {
    font: 300 1rem/1.6 var(--font7);
    list-style: circle;
    list-style-image: url("../images/blackcheckmark.svg");
    margin: 0rem 0rem 0.75rem 0.75rem;
}

.price .container21 .container22 .pricecontainers .leftcontainer ul li span {
    color: var(--color5);
    text-decoration: line-through;
}

.price .container21 .container22 .pricecontainers .leftcontainer .pricevalue p.firstp {
    font: 400 1.25rem/1.5 var(--font8);
    color: var(--color0);
    margin: 0;
}

.price .container21 .container22 .pricecontainers .leftcontainer .pricevalue p.firstp span {
    font: 900 1.25rem/1.5 var(--font11);
    color: var(--color5);
    text-decoration: line-through;
}

.price .container21 .container22 .pricecontainers .leftcontainer .pricevalue p.secondp {
    font: 800 3rem/1 var(--font10);
    color: var(--color0);
    margin: 0;
}

.price .container21 .container22 .pricecontainers .leftcontainer .pricevalue p.secondp span {
    font: 800 8.1875rem/1 var(--font10);
}

.price .container21 .container22 .pricecontainers .leftcontainer .pricevalue .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.45rem;
}

.price .container21 .container22 .pricecontainers .leftcontainer .pricevalue .button a {
    font: 600 1.125rem/1 var(--font3);
    color: var(--color1);
    text-transform: uppercase;
    letter-spacing: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 3.75rem;
    border-radius: 8rem;
    background-color: var(--color6);
    transition: all 200ms ease;
}

.price .container21 .container22 .pricecontainers .leftcontainer .pricevalue .button a:hover {
    box-shadow: 0 4px 25px 0 var(--color6);
}

.price .container21 .container22 .pricecontainers .leftcontainer .pricevalue .button .kiwifylogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
}

.price .container21 .container22 .pricecontainers .leftcontainer .pricevalue .button .kiwifylogo span {
    font-family: var(--font3);
    font-size: 0.625rem;
}

.price .container21 .container22 .pricecontainers .rightcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem 4.875rem 4.625rem 4.6875rem;
    width: 100%;
    background: linear-gradient(320deg, #000, #393939) padding-box,
        linear-gradient(155deg, #d5ff40, transparent 60%) border-box;
    border-radius: 0.625rem;
    border: 1px solid transparent;
}

.price .container21 .container22 .pricecontainers .rightcontainer img.logo {
    width: 14.7525rem;
}

.price .container21 .container22 .pricecontainers .rightcontainer ul {
    width: 100%;
    max-width: 21.9375rem;
    margin: 3rem auto;
    padding-left: 1.25rem;
}

.price .container21 .container22 .pricecontainers .rightcontainer ul li {
    font: 300 1rem/1.6 var(--font7);
    color: var(--color1);
    list-style: circle;
    list-style-image: url("../images/greencheckmark.svg");
    margin: 0rem 0rem 0.75rem 0.75rem;
}

.price .container21 .container22 .pricecontainers .rightcontainer .pricevalue p.firstp {
    font: 400 1.25rem/1.4 var(--font8);
    /* color: var(--color0); */
    margin: 0;
}

.price .container21 .container22 .pricecontainers .rightcontainer .pricevalue p.firstp span {
    font: 800 1.25rem/1.5 var(--font10);
    color: var(--color5);
    text-decoration: line-through;
}

.price .container21 .container22 .pricecontainers .rightcontainer .pricevalue p.secondp {
    font: 800 3rem/1 var(--font10);
    color: var(--color3);
    margin: 0;
}

.price .container21 .container22 .pricecontainers .rightcontainer .pricevalue p.secondp span {
    font: 800 8.1875rem/1 var(--font10);
}

.price .container21 .container22 .pricecontainers .rightcontainer .pricevalue p.thirdp {
    font: 400 1.25rem/1.4 var(--font8);
    color: var(--color3);
    margin: 0;
}

.price .container21 .container22 .pricecontainers .rightcontainer .pricevalue .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.45rem;
}

.price .container21 .container22 .pricecontainers .rightcontainer .pricevalue .button a {
    font: 600 1.125rem/1 var(--font3);
    color: var(--color0);
    text-transform: uppercase;
    letter-spacing: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 3.75rem;
    border-radius: 8rem;
    background-color: var(--color3);
    transition: all 200ms ease;
}

.price .container21 .container22 .pricecontainers .rightcontainer .pricevalue .button a:hover {
    box-shadow: 0 4px 25px 0 var(--color3);
}

.price .container21 .container22 .pricecontainers .rightcontainer .pricevalue .button .kiwifylogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
}

.price .container21 .container22 .pricecontainers .rightcontainer .pricevalue .button .kiwifylogo span {
    font-family: var(--font3);
    font-size: 0.625rem;
}

.price .container21 .container22 img.payments {
    display: block;
    margin: 4rem auto 0rem;
}

.guaranty .container23 {
    margin: auto;
    width: 100%;
    max-width: 81rem;
    /* padding: 9.375rem 2.5rem 12.5rem 2.5rem; */
    padding: 9.375rem 2.5rem 0rem 2.5rem;
}

.guaranty .container23 .container24 {
    display: flex;
    /* padding-right: 15.5rem; */
    /* padding-left: 15.5rem; */
    padding: 0rem 15.5rem 0rem;
    flex-direction: row;
    align-items: center;
    column-gap: 4.25rem;
}

.guaranty .container23 .container24 .leftcontainer {
    position: relative;
}

.guaranty .container23 .container24 .leftcontainer img.guarantylight {
    position: absolute;
    left: -204px;
    top: -174px;
    z-index: 1;
    width: auto;
    max-width: 39.125rem;
}

.guaranty .container23 .container24 .leftcontainer img.guarantyseven {
    width: 17rem;
}

.guaranty .container23 .container24 .rightcontainer {
    display: flex;
    width: 100%;
    max-width: 23.75rem;
    flex-direction: column;
    align-items: center;
    column-gap: 0.8125rem;
    position: relative;
}

.guaranty .container23 .container24 .rightcontainer .toolcontainer {
    display: flex;
    width: 100%;
    align-items: center;
    column-gap: 0.8125rem;
    margin-bottom: 2rem;
}

.guaranty .container23 .container24 .rightcontainer .toolcontainer h2 {
    font: 450 1.75rem/1 var(--font13);
    width: 8.3125rem;
}

.guaranty .container23 .container24 .rightcontainer .toolcontainer h2 span {
    font: 700 1.75rem/1 var(--font1);
    color: var(--color3);
}

.guaranty .container23 .container24 .rightcontainer .toolcontainer img.figmatool {
    width: 14.375rem;
}

.guaranty .container23 .container24 .rightcontainer .toolcontainer img.figmatool:hover {
    transform: translateY(1rem);
    transition: all 500ms ease;
}

.guaranty .container23 .container24 .rightcontainer p {
    font: 300 0.875rem/1.5 var(--font7);
}

.guaranty .container23 .container24 .rightcontainer p span {
    color: var(--color3);
}

.about {
    position: relative;
    overflow: hidden;
}

.about .container25 {
    margin: auto;
    width: 100%;
    max-width: 81rem;
    padding: 7.5rem 2.5rem 0rem;
}

.about .container25 .container26 {
    display: flex;
    padding-left: 1.75rem;
    align-items: center;
    column-gap: 12rem;
}

.about .container25 .container26 .containertext {
    width: 100%;
    max-width: 27.8125rem;
}

.about .container25 .container26 .containertext h2 {
    font: 700 3rem/1.2 var(--font1);
    color: var(--color3);
    margin-bottom: 1rem;
}

.about .container25 .container26 .containertext p {
    font: 300 1rem/1.6 var(--font7);
}

.about .container25 .container26 img.thiagomedeiros {
    width: 33%;
    max-width: 23.875rem;
}

.about .greenbg {
    background-color: var(--color3);
    position: absolute;
    left: auto;
    top: 26%;
    right: -15%;
    bottom: 0%;
    z-index: -1;
    width: 60%;
    height: 38.4375rem;
}

.faq .container27 {
    margin: auto;
    width: 100%;
    max-width: 81rem;
    padding: 9.375rem 2.5rem 0rem;
}

.faq .container27 .container28 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq .container27 .container28 .containertext {
    display: flex;
    width: 45.3125rem;
    align-items: center;
    grid-column-gap: 2rem;
    margin-bottom: 2rem;
}

.faq .container27 .container28 .containertext img.faqimage {
    width: 100%;
    max-width: 17.1875rem;
}

.faq .container27 .container28 .containertext p {
    font: 400 0.875rem/1.8 var(--font15);
}

.faq .container27 .container28 a.button {
    font: 600 1.125rem/1.575 var(--font3);
    color: var(--color0);
    display: flex;
    padding: 1.25rem 2.9375rem;
    justify-content: center;
    align-items: center;
    grid-column-gap: 1rem;
    border-radius: 2.8125rem;
    background-color: var(--color3);
    transition: all 200ms ease;
}

.faq .container27 .container28 a.button:hover {
    box-shadow: 0 4px 25px 0 var(--color3);
}

.faq .container27 .container28 a.button img.whatsimg {
    width: 2.0625rem;
}

.youraccess {
    padding-top: 9.375rem;
    overflow: hidden;
}

.youraccess img {
    width: 100%;
    vertical-align: middle;
}

.contact {
    background-color: var(--color3);
}

.contact .container29 {
    margin: auto;
    width: 100%;
    max-width: 81rem;
    padding: 7.8125rem 2.5rem;
}

.contact .container29 .container30 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color0);
    gap: 0.625rem;
}

.contact .container29 .container30 a.firstlink img.figmaislogo {
    width: 8.5625rem;
    display: block;
}

.contact .container29 .container30 span {
    font: 300 0.875rem/1.5 var(--font7);
}

.contact .container29 .container30 a.secondlink {
    font: 400 0.75rem/1 var(--font8);
    display: flex;
    align-items: center;
    column-gap: 0.375rem;
}

footer {
    font: 700 0.875rem/1 var(--font1);
    color: var(--color1);
    height: 100%;
    padding: 5px;
    text-align: center;
}

footer a:hover {
    color: var(--color4);
}

@media (max-width: 991px) {}

@media (max-width: 767px) {}

@media(max-width: 539px) {
    footer {
        font-size: 10px;
    }
}









































/*Edit style of slider dots

.w-slider-dot {
    width: 6px !important;
    height: 6px !important;
    border-radius: 6px !important;
    background: #ffffff !important;
    transition: width 0.2s, background-color 0.2s;
    transition-timing-function: linear;
}

.w-slider-dot.w-active {
    width: 24px !important;
    height: 6px !important;
    border-radius: 6px !important;
    background: #D4FE00 !important;
    transition: width 0.2s, background-color 0.2s;
    transition-timing-function: linear;
}

.w-slider-nav-invert>div {
    width: 6px !important;
    height: 6px !important;
    border-radius: 6px !important;
    background: #C4CED1 !important;
    transition: width 0.2s, background-color 0.2s;
    transition-timing-function: linear;
}

.w-slider-nav-invert>div.w-active {
    width: 24px !important;
    height: 6px !important;
    border-radius: 6px !important;
    background: #D4FE00 !important;
    transition: width 0.2s, background-color 0.2s;
    transition-timing-function: linear;
}*/